<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Bài Viết Công Khai</h2>
        <div *ngFor="let post of posts">
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          
          <div class="resume-content">
            <div style="float:left"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRuYgBWBxlWRbiBCXWhwn-NvltB-R0kbTB-MVpm2DHwQBFzyFTf"></div>
            <h3 class="mb-0">{{post.tieude}}</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>{{post.mota}}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{post.ngaytao}}</span>
          </div>
        </div>
        </div>
      </div>
    </section>